.footer{
  background: #093250;
  color: white;
  padding: 3% 6%;
  h3{
    position: relative;
    color: white;
    height: 55px;
    padding-top: 15px;
    border-bottom: 3px solid #78cfc0;
    margin-bottom: 15px;
    display: inline-block;
  }
  .links{
    display: flex;
    flex-flow: column;
    a{
      margin-bottom: 5px;
    }
  }
  p{
    line-height: 1.8rem;
    font-weight: 300;
  }
  div{
    margin-bottom: 15px;
  }
}