.container {
  padding: 5%7%;
  h3 {
    color: #888b90;
    font-size: 24px;
    text-align: center;
  }
  >div{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

}
.logo{
  display: flex;
  justify-content: center;

  img{
    height: 60px;
    margin: 40px;
    cursor: pointer;
    transition: all 0.5s;
    filter: grayscale(100);
    &:hover{
      filter: grayscale(0);
    }
  }
}

@media (max-width: 600px) {
  .container{
    padding: 10% 15px;
  }
  .logo{
    img{
      height: 45px;
      margin: 0px auto;
    }
  }
}
