.container {
  background: white;
  padding: 5% 7% 0 7%;
  h3 {
    color: #888b90;
    font-size: 24px;
    text-align: center;
  }
}

.bg{
  width: 80%;
  margin: 5% auto;
}

.card{
  display: flex;
  flex-flow: column;
  align-items: center;
  p{
    text-align: center;
    margin-top: 15px;
  }
}

@media (max-width: 600px) {
  .container{
    padding: 10% 0 0 0;
  }
}
