#Navbar{
  .ant-menu-root{
    background: transparent;
    color: white;
    font-size: 15px;
    @media (max-width: 576px) {
      background: white;
      color: rgba(0, 0, 0, 0.85);
      border-radius: 15px;
      box-shadow: 0 0 25px #d9d9d9;
      overflow: hidden;
    }
  }
  .ant-menu-horizontal > .ant-menu-item a{
    color: white;
    &:hover{
      color: #3ed0bc;
    }
  }
}

// Grid
.ant-col{
  padding: 15px;
}
// Menu
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: #3ed0bc;
}
.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover{
  color: #3ed0bc;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after{
  display: none;
}
.ant-menu-horizontal{
  border-bottom: none !important;
}
.ant-menu-vertical.ant-menu-sub, .ant-menu-vertical-left.ant-menu-sub, .ant-menu-vertical-right.ant-menu-sub{
  position: relative;
  padding: 20px;
  min-width: 260px;
  right: 0;
  text-align: right;
}
.ant-menu-submenu-popup .anticon {
  color: #3ed0bc;
}
.ant-menu-submenu-popup {
  border-radius: 15px;
  box-shadow: 0 10px 55px 5px rgb(137 173 255 / 35%);
  > .ant-menu {
    border-radius: 15px;
  }
}

.ant-menu-sub.ant-menu-inline > .ant-menu-item, .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
   padding-left: 24px !important;
   padding-right: 24px !important;
}


// swiper
.swiper{
  z-index: 0;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: -6px!important;
}
.swiper-pagination-bullet{
  width: 10px !important;
  height: 10px !important;
}
.swiper-pagination-bullet-active{
  background: #00ae8f!important;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
  color: #c1bfbf;
  font-size: 30px;
  margin: 15px;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  color: #c1bfbf;
  font-size: 30px;
  margin: 15px;
}

//statistics
.ant-progress-circle .ant-progress-text{
  font-size: 25px;
  font-weight: bold;
}