.container{
    padding: 140px 5% 5% 5%;
}
.title{
    text-align: center;
    font-weight: bold;
    color:#58468c;
    margin-bottom: 40px;
}
.category{
    cursor: pointer;
    text-align: center;
    border: 2px solid #00ae8f;
    border-radius: 15px;
    transition: all 0.5s;
    padding: 15px;
    font-size: 20px;
    h4{
        margin-bottom: 0;
        color: #00ae8f;
    }
    &:hover{
        background: #00ae8f;
        h4{
            color: white;
        }

    }
}

.list2 li {
    margin: 5px 0;
    color: gray;
}
.post{
    img{
        cursor: pointer;
        border-radius: 15px;
        width: 100% !important;
        max-height: 300px;
    }
    h4{
        direction: rtl;
        text-align: right;
        margin-top: 10px;
        color:#58468c;
    }
}

@media (max-width: 600px) {
    .container{
        padding: 10% 15px;
    }
}
