.container {
  position: relative;
  padding: 5% 7% 0 7%;
  background: white;
  h3 {
    color: #888b90;
    font-size: 24px;
    padding: 15%;
    line-height: 50px;
    text-align: center;
  }
  >div{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

}
.card{
  position: relative;
  bottom: 0;
  display: flex;
  height: 150px;
  padding: 25px;
  align-items: center;
  box-shadow: 0 10px 55px 5px rgb(137 173 255 / 35%);
  border-radius: 8px;
  transition: all 0.5s;
  img{
    width: 50px;
  }
  >div{
    h4{
      font-size: 17px;
    }
    padding: 0 25px;
  }
  &:hover{
    bottom: 5px;
  }
}

.endRounded{
  position: absolute;
  bottom: -85px;
  right: 0;
  height: 85px;
  width: 100%;
  background: white;
  z-index: 1;
  border-radius: 0 0 90px 90px;
}

@media (max-width: 600px) {
  .container{
    padding: 0 0 10% 0;
    h3{
      padding: 15px;
      font-size: 20px;
    }
  }
  .card{
    width: 100%;
    h4{
      font-size: 15px !important;
    }
    p{
      padding-bottom: 0;
    }
  }
  .endRounded{
    border-radius: 0 0 40px 40px;
  }


}
