.navbar{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  height: 80px;
  box-shadow: 0 0 15px #6a6e78;
  background: linear-gradient(#08324f,#04716f);
  padding: 15px 30px;
  z-index: 3;
  > div:first-child{
    width: 100%;
  }
}

.menuButton{
  font-size: 24px;
  color: white;
}

.left{
  display: flex;
  align-items: center;
  justify-content: center;
}

.locale{
  display: flex;
  align-items: center;
  cursor: pointer;
  direction: ltr;
  transition: color 0.5s;
  color: white;
  font-size: 16px;
  padding: 15px 30px;
  span{
    margin: 2px;
  }
  &:hover{
    color: #3ed0bc;
  }
}

@media (max-width: 600px) {
  .navbar{
    align-items: inherit;
  }
  .locale{
    padding: 15px 5px;
  }
}