.container {
  background: white;
  padding: 5% 7%;
  h3 {
    color: #888b90;
    font-size: 24px;
    text-align: center;
  }
  >div{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

}
.card{
  width: 400px;
  background: #fff;
  padding: 25px;
  box-shadow: 0 10px 25px 5px rgb(137 173 255 / 15%);
  border-radius: 20px;
  margin: 50px auto;

  div:first-child{
    display: flex;
    justify-content: center;
    img{
      width: 45px;
      margin: 0 auto;
    }
  }
   p{
     margin-top: 15px;
     height: 200px;
     overflow-y: auto;
   }
  hr{
    border-color: #f5f5f5;
  }
  h4{
    font-size: 16px;
  }
  span{
    color: #938da6;
  }

}

@media (max-width: 600px) {
  .container{
    padding: 10% 0;
  }
.card{
  width: 80%;
  margin: 10%;
}
}
